################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/NC.StorageProcessor/obj
/DFrame.BankInterface.Services/obj
*.suo
